* {
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-weight: bold !important;
}

.row {
	margin-top: 20px;
}

	/*Navigation bar*/



 	/*Jumbotron*/
.jumbotron {

}

 	/*Cards*/
.card {
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	 border-radius: 10px !important;

}