* {
	font-family: 'Roboto', sans-serif;
}


h1, .card-title {
	font-weight: 800 !important;
}

iframe {
	border-radius: 5px;
}
.row {
	margin-top: 30px;
}

.low-margin-top {
	margin-top: 20px;
}



	/*Navigation bar*/



 	/*Jumbotron*/
.jumbotron {

}

 	/*Cards*/
.card {
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	 border-radius: 10px !important;

}


.modal-title {
	text-align: center !important;
	font-family: 'Oswald', sans-serif !important;
}

.modal-title hr {
	margin-bottom: 20px;
}


.modal-close-container  {
	margin-top: 20px;
}

